* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: none;
}

body {
    background-color: #5c1715;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

@media (min-width: 1200px) {

    /* -------------------------- Header -------------------------- */
    header {
        width: 100%;
        height: 90px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .logo-large {
        font-size: 64px;
        margin-left: 60px;
        margin-top: 4px;
        font-weight: 400;
    }

    .menu {
        margin-top: 36px;
        margin-right: 60px;
    }

    .nav {
        margin-left: 16px;
        color: rgba(255, 255, 255, 0.55);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    .nav:hover {
        color: white;
    }

    .albums {
        color: white;
    }

    /* -------------------------- Main Body -------------------------- */
    section {
        width: 1200px;
        height: 3600px;
        margin: 0 auto;
        position: relative;
    }

    .mark-twain-quotes {
        width: 387.5px;
        color: rgba(255, 255, 255, 0.6);
        position: absolute;
        right: 48px;
        top: 54px;
        font-size: 24px;
    }

    .mark-twain {
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.6);
    }

    /* ---------- pitts ---------- */
    .pitts {
        position: absolute;
        left: 174px;
        top: 196px;
        font-size: 32px;
        opacity: 0.7;
    }

    .pitts .img-pitts {
        display: block;
        width: 370px;
        height: 360px;
    }

    .pitts:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- new york city ---------- */
    .nyc {
        position: absolute;
        right: 0;
        top: 483px;
        font-size: 32px;
        opacity: 0.7;
    }

    .nyc .img-nyc {
        display: block;
        width: 443px;
        height: 472px;
    }

    .nyc:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- Hong Kong ---------- */
    .hk {
        position: absolute;
        left: 0;
        top: 865px;
        font-size: 32px;
        opacity: 0.7;
    }

    .hk .img-hk {
        display: block;
        width: 465px;
        height: 345px;
    }

    .hk:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- Boston ---------- */
    .boston {
        position: absolute;
        right: 193px;
        top: 1317px;
        font-size: 32px;
        opacity: 0.7;
    }

    .boston .img-boston {
        display: block;
        width: 350px;
        height: 400px;
    }

    .boston:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- Barcelona ---------- */
    .barcelona {
        position: absolute;
        left: 102px;
        top: 1847px;
        font-size: 32px;
        opacity: 0.7;
    }

    .barcelona .img-barcelona {
        display: block;
        width: 459px;
        height: 585px;
    }

    .barcelona:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- paris ---------- */
    .paris {
        position: absolute;
        right: 57px;
        top: 2350px;
        font-size: 32px;
        opacity: 0.7;
    }

    .paris .img-paris {
        display: block;
        width: 386px;
        height: 504px;
    }

    .paris:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- Italy ---------- */
    .italy {
        position: absolute;
        left: 0;
        top: 2870px;
        font-size: 32px;
        opacity: 0.7;
    }

    .italy .img-italy {
        display: block;
        width: 459px;
        height: 459px;
    }

    .italy:hover {
        opacity: 1;
        cursor: pointer;
    }

    .pitts:hover,
    .nyc:hover,
    .hk:hover,
    .boston:hover,
    .barcelona:hover,
    .paris:hover {
        opacity: 1;
        cursor: pointer;
        transition: opacity 0.5s ease;
    }


    /* -------------------------- Footer -------------------------- */
    footer {
        width: 100%;
        height: 160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        /* background-color: white; */
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    .texts {
        font-size: 48px;
        margin-left: 60px;
        margin-top: 18px;
        color: rgba(255, 255, 255, 0.8);
        /* color: #5c1715; */
    }

    .external-links {
        margin-right: 60px;
        margin-top: 36px;
    }

    .link {
        margin-left: 16px;
        /* color: rgba(92, 23, 21, 0.6); */
        color: rgba(255, 255, 255, 0.5);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    .link:hover {
        /* color: #5c1715; */
        color: white;
    }

}

@media (max-width: 1199px) and (min-width: 769px) {

    /* -------------------- Header -------------------- */
    header {
        width: 100%;
        height: 48px;
        margin: 5px auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .logo-large {
        font-size: 32px;
        margin-left: 24px;
        margin-top: 5px;
    }

    .menu {
        margin-top: 12px;
        margin-right: 32px;
    }

    .nav {
        margin-left: 12px;
        color: rgba(255, 255, 255, 0.55);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 16px;
    }

    .nav:hover {
        color: white;
    }

    .albums {
        color: white;
    }

    /* -------------------------- Main Body -------------------------- */
    section {
        width: 100%;
        height: 210rem;
        margin: 0 auto;
        position: relative;
    }

    .mark-twain-quotes {
        width: 18rem;
        color: rgba(255, 255, 255, 0.6);
        position: absolute;
        right: 3rem;
        top: 3.4rem;
        font-size: 18px;
    }

    .mark-twain {
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.6);
    }

    /* ---------- pitts ---------- */
    .pitts {
        position: absolute;
        left: 100px;
        top: 196px;
        font-size: 24px;
        opacity: 0.7;
    }

    .pitts .img-pitts {
        display: block;
        width: 288px;
        height: 296px;
    }

    .pitts:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- new york city ---------- */
    .nyc {
        position: absolute;
        right: 0;
        top: 483px;
        font-size: 24px;
        opacity: 0.7;
    }

    .nyc .img-nyc {
        display: block;
        width: 354.4px;
        height: 377.6px;
    }

    .nyc:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- Hong Kong ---------- */
    .hk {
        position: absolute;
        left: 0;
        top: 865px;
        font-size: 24px;
        opacity: 0.7;
    }

    .hk .img-hk {
        display: block;
        width: 372px;
        height: 276px;
    }

    .hk:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- Boston ---------- */
    .boston {
        position: absolute;
        right: 193px;
        top: 1317px;
        font-size: 24px;
        opacity: 0.7;
    }

    .boston .img-boston {
        display: block;
        width: 280px;
        height: 320px;
    }

    .boston:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- Barcelona ---------- */
    .barcelona {
        position: absolute;
        left: 102px;
        top: 1847px;
        font-size: 24px;
        opacity: 0.7;
    }

    .barcelona .img-barcelona {
        display: block;
        width: 367.2px;
        height: 468px;
    }

    .barcelona:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- paris ---------- */
    .paris {
        position: absolute;
        right: 57px;
        top: 2390px;
        font-size: 24px;
        opacity: 0.7;
    }

    .paris .img-paris {
        display: block;
        width: 308.8px;
        height: 403.2px;
    }

    .paris:hover {
        opacity: 1;
        cursor: pointer;
    }

    /* ---------- Italy ---------- */
    .italy {
        position: absolute;
        left: 0;
        top: 2870px;
        font-size: 24px;
        opacity: 0.7;
    }

    .italy .img-italy {
        display: block;
        width: 367.2px;
        height: 367.2px;
    }

    .italy:hover {
        opacity: 1;
        cursor: pointer;
    }

    .pitts:hover,
    .nyc:hover,
    .hk:hover,
    .boston:hover,
    .barcelona:hover,
    .paris:hover {
        opacity: 1;
        cursor: pointer;
        transition: opacity 0.5s ease;
    }


    /* -------------------------- Footer -------------------------- */
    footer {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        /* background-color: white; */
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    .texts {
        font-size: 1.5rem;
        margin-left: 20px;
        margin-top: 18px;
        color: rgba(255, 255, 255, 0.8);
        /* color: #5c1715; */
    }

    .external-links {
        margin-right: 30px;
        margin-top: 36px;
    }

    .link {
        margin-left: 16px;
        /* color: rgba(92, 23, 21, 0.6); */
        color: rgba(255, 255, 255, 0.5);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    .link:hover {
        /* color: #5c1715; */
        color: white;
    }
}


/* ---------------------------- Custom Cursor -------------------------- */

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    z-index: 999999;
}

.cursor-dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    transform: translate(-50%, -50%) scale(1);
}

.cursor-dot-outline {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
}

header,
footer {
    overflow: hidden;
    /* clip the outline */
}

header .cursor-dot-outline,
footer .cursor-dot-outline {
    background-color: rgba(255, 255, 255, 0.4);
    mix-blend-mode: screen;
    /* blend with the page background */
}

header .cursor-dot,
footer .cursor-dot {
    background-color: #fff;
}